body {
    font-family: Arial, sans-serif;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box1 {
    position: relative;
    background-color: #D6E7F7;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 250px;
    height: 665px;
}

.box2 {
    position: absolute;
    background-color: #D3DCF4;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 250px;
    height: 570px;
    margin-top: 5px;
}

section {
    background-color: #f4f4f4;
    border-radius: 40px;
    margin-left: 15px;
    padding: 20px;
    width: 800px;
    height: 630px;
    text-align: center;
    align-items: right;
}

.input-group {
    text-align: center;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'superB';
    font-size: 20px;
}

.user a {
    margin: 0;
    text-decoration-line: none;
    color: black;
}

.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 7px;
}

.menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'superB';
    font-size: 20px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu-item a {
    margin: 0;
    text-decoration-line: none;
    color: black;
}

/* 달력 */
.calendarBox {
    color: black;
}

.calendarBox #month {
    display: inline-block;
    position: relative;
    float: center;
    margin-left: 10px;
}

#month p {
    margin-top: 0;
    font-family: 'superB';
    font-weight: bold;
    font-size: 26px;
}

.calendarBox #year {
    display: block;
    position: relative;
    float: center;
    margin-top: 20px;
    margin-left: 10px;
}

#year p {
    margin-top: 0;
    font-family: 'superB';
    font-weight: bold;
    font-size: 15px;
}

.calendarBox table {
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.calendarBox th {
    border: none;
    height: 30px;
    padding: 8px;
    font-weight: normal;
    text-align: center;
    font-family: 'superB';
}

.calendarBox td {
    border: none;
    height: 70px;
    padding: 8px;
    text-align: center;
    font-family: 'superR';
}

/* 오늘 날짜 배경색 지정 */
.calendarBox #today {
    background-color: rgba(203, 247, 121, 0.637);
    border-radius: 10%;
    color: black;
}