body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #D6E7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.user {
    text-align: center;
    margin-bottom: 40px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.menu-item p {
    margin: 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    margin-top: 0;
}

.todo-section {
    margin-top: 20px;
}

.date {
    margin-bottom: 10px;
    text-align: left;
}

.todo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

section {
    background-color: #D6E7F7;
    border-radius: 40px;
    margin-left: 15px;
    padding: 20px;
    width: 800px;
    height: 630px;
    text-align: center;
    align-items: right;
}

.todo-item {
    background-color: #c8cbcefd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}