@font-face {
    font-family: 'superB';
    src: url('Cafe24Supermagic-Bold.woff') format('woff');
}

@font-face {
    font-family: 'superR';
    src: url('Cafe24Supermagic-Reg.woff') format('woff');
}